@import "tailwindcss";

@theme {
  --font-sans: "Be Vietnam Pro", sans-serif;
}

.blue-text {
  @apply text-transparent bg-linear-to-b from-[#7ca0f9] to-[#375198] bg-clip-text;
}

.avatar-shadow {
  box-shadow: 0 0 5px rgba(124, 160, 249, 0.2),
    0 0 15px rgba(124, 160, 249, 0.2), 0 0 30px rgba(124, 160, 249, 0.2);
}

.btn-shadow {
  box-shadow: 0 0 5px rgba(124, 160, 249, 0.2),
    0 0 10px rgba(124, 160, 249, 0.2);
}
